body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Libre Franklin", serif;
}

p {
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 2rem 0 5rem;
}

h1 {
  margin: 2rem 0 0 0;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  font-size: 2.3rem;
}

.bold {
  font-weight: 700;
  color: black;
}

.subscribe-text {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 300;
}

.email-container {
  margin: 1rem 0 3rem 0;
  display: flex;
  align-items: flex-start;
}

.input-n-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 14rem;
  padding: 1rem 2.5rem 1rem 1.5rem;
  border-radius: 10rem;
  border-width: 0.05rem;
  border-style: solid;
  border-color: hsl(0, 0%, 77%);
  margin-right: 0.3rem;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
  font-size: 0.9rem;
}

input:focus {
  outline: 0.1rem solid hsl(223, 87%, 63%);
}

button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-weight: 600;
  color: white;
  background-color: hsl(223, 87%, 63%);
  font-size: 0.9rem;
  cursor: pointer;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(223, 55%, 47%);
}

.email-response {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  color: hsl(354, 100%, 66%);
  margin-top: 0.5rem; 
  margin-left: 1.5rem; 
}

.icon-container {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 1rem;
}

.social-icon {
  filter: invert(25%) sepia(67%) saturate(2500%) hue-rotate(215deg);
  opacity: 70%;
}

.circle-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; 
  height: 30px; 
  border: 0.3px solid hsl(223, 87%, 63%); 
  border-radius: 50%; 
  cursor: pointer;
}

.copyright-text {
  font-size: 0.7rem;
  color: hsl(0, 0%, 59%);
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }

  .subscribe-text {
    font-size: 0.9rem;
  }

  .email-container {
    flex-direction: column;
  }

  button {
    width: 100%;
  }

  .input-n-text {
    margin-bottom: 1.3rem;
  }

  .email-response {
    text-align: center;
    font-size: 0.6rem;
    margin-left: 0rem;
    width: 100%;
  }

  .dashboard-img {
    width: 320px;
  }
}